/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/

.original_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
}

.stroke_me_white
{
    -webkit-text-stroke: 2px white !important;
}

.stroke_me_black
{
    -webkit-text-stroke: 2px black !important;
}


.css_button
{
    font-size: 65%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.css_button:hover {
    background-color: #323ba5;
}

/* https://codemyui.com/animated-gradient-text-effect/ */
.linear-wipe {
    text-align: center;
    background: linear-gradient(to right, #333333 30%, #ff3300 40%, #ff3300 60%, #333333 70%);
    background-size: 200% auto;
    color: #333;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}